/* Navbar */
.AliceBlue-navbar {
    color: AliceBlue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.AntiqueWhite-navbar {
    color: AntiqueWhite !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Aqua-navbar {
    color: Aqua !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Aquamarine-navbar {
    color: Aquamarine !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Beige-navbar {
    color: beige !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Bisque-navbar {
    color: beige !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Black-navbar {
    color: black !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.BlanchedAlmond-navbar {
    color: blanchedalmond !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Blue-navbar {
    color: blue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.BlueViolet-navbar {
    color: blueviolet !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Brown-navbar {
    color: brown !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.BurlyWood-navbar {
    color: burlywood !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.CadetBlue-navbar {
    color: cadetblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Chartreuse-navbar {
    color: chartreuse !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Chocolate-navbar {
    color: chocolate !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Coral-navbar {
    color: coral !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.CornflowerBlue-navbar {
    color: cornflowerblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Cornsilk-navbar {
    color: cornsilk !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Crimson-navbar {
    color: crimson !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Cyan-navbar {
    color: cyan !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkBlue-navbar {
    color: darkblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkCyan-navbar {
    color: darkcyan !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkGoldenRod-navbar {
    color: darkgoldenrod !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkGray-navbar {
    color: darkgray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkGreen-navbar {
    color: darkgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkKhaki-navbar {
    color: darkkhaki !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkMagenta-navbar {
    color: darkmagenta !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkOliveGreen-navbar {
    color: darkolivegreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Darkorange-navbar {
    color: darkorange !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkOrchid-navbar {
    color: darkorchid !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkRed-navbar {
    color: darkred !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkSalmon-navbar {
    color: darksalmon !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkSeaGreen-navbar {
    color: darkseagreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkSlateBlue-navbar {
    color: darkslateblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkSlateGray-navbar {
    color: darkslategray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkTurquoise-navbar {
    color: darkturquoise !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DarkViolet-navbar {
    color: darkviolet !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DeepPink-navbar {
    color: deeppink !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DeepSkyBlue-navbar {
    color: deepskyblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DimGray-navbar {
    color: dimgray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.DodgerBlue-navbar {
    color: dodgerblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.FireBrick-navbar {
    color: firebrick !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.FloralWhite-navbar {
    color: floralwhite !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.ForestGreen-navbar {
    color: forestgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Fuchsia-navbar {
    color: fuchsia !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Gainsboro-navbar {
    color: gainsboro !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.GhostWhite-navbar {
    color: ghostwhite !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Gold-navbar {
    color: gold !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.GoldenRod-navbar {
    color: goldenrod !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Grey-navbar {
    color: grey !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Green-navbar {
    color: green !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.GreenYellow-navbar {
    color: greenyellow !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.HoneyDew-navbar {
    color: honeydew !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.HotPink-navbar {
    color: hotpink !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.IndianRed-navbar {
    color: indianred !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Indigo-navbar {
    color: indigo !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Ivory-navbar {
    color: ivory !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Khaki-navbar {
    color: khaki !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Lavender-navbar {
    color: lavender !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LavenderBlush-navbar {
    color: lavenderblush !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LawnGreen-navbar {
    color: lawngreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LemonChiffon-navbar {
    color: lemonchiffon !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightBlue-navbar {
    color: lightblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightCoral-navbar {
    color: lightcoral !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightCyan-navbar {
    color: lightcyan !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightGoldenRodYellow-navbar {
    color: lightgoldenrodyellow !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightGray-navbar {
    color: lightgray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightGreen-navbar {
    color: lightgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightPink-navbar {
    color: lightpink !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightSalmon-navbar {
    color: lightsalmon !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightSeaGreen-navbar {
    color: lightseagreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightSkyBlue-navbar {
    color: lightskyblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightSlateGray-navbar {
    color: lightslategray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightSteelBlue-navbar {
    color: lightsteelblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LightYellow-navbar {
    color: lightyellow !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Lime-navbar {
    color: lime !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.LimeGreen-navbar {
    color: limegreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Linen-navbar {
    color: linen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Magenta-navbar {
    color: magenta !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Maroon-navbar {
    color: maroon !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumAquaMarine-navbar {
    color: mediumaquamarine !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumBlue-navbar {
    color: mediumblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumOrchid-navbar {
    color: mediumorchid !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumPurple-navbar {
    color: mediumpurple !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumSeaGreen-navbar {
    color: mediumseagreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumSlateBlue-navbar {
    color: mediumslateblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumSpringGreen-navbar {
    color: mediumspringgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumTurquoise-navbar {
    color: mediumturquoise !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MediumVioletRed-navbar {
    color: mediumvioletred !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MidnightBlue-navbar {
    color: midnightblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MintCream-navbar {
    color: mintcream !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.MistyRose-navbar {
    color: mistyrose !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Moccasin-navbar {
    color: moccasin !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.NavajoWhite-navbar {
    color: navajowhite !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Navy-navbar {
    color: navy !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.OldLace-navbar {
    color: oldlace !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Olive-navbar {
    color: olive !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.OliveDrab-navbar {
    color: olivedrab !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Orange-navbar {
    color: orange !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.OrangeRed-navbar {
    color: orangered !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Orchid-navbar {
    color: orchid !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PaleGoldenRod-navbar {
    color: palegoldenrod !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PaleGreen-navbar {
    color: palegreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PaleTurquoise-navbar {
    color: paleturquoise !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PaleVioletRed-navbar {
    color: palevioletred !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PapayaWhip-navbar {
    color: papayawhip !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PeachPuff-navbar {
    color: peachpuff !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Peru-navbar {
    color: peru !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Pink-navbar {
    color: pink !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Plum-navbar {
    color: plum !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.PowderBlue-navbar {
    color: powderblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Purple-navbar {
    color: purple !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Red-navbar {
    color: red !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.RosyBrown-navbar {
    color: rosybrown !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.RoyalBlue-navbar {
    color: royalblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SaddleBrown-navbar {
    color: saddlebrown !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Salmon-navbar {
    color: salmon !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SandyBrown-navbar {
    color: sandybrown !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SeaGreen-navbar {
    color: seagreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SeaShell-navbar {
    color: seashell !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Sienna-navbar {
    color: sienna !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Silver-navbar {
    color: silver !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SkyBlue-navbar {
    color: skyblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SlateBlue-navbar {
    color: slateblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SlateGrey-navbar {
    color: slategray !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Snow-navbar {
    color: snow !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SpringGreen-navbar {
    color: springgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.SteelBlue-navbar {
    color: steelblue !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Tan-navbar {
    color: tan !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Teal-navbar {
    color: teal !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Thistle-navbar {
    color: thistle !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Tomato-navbar {
    color: tomato !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Turquoise-navbar {
    color: turquoise !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Violet-navbar {
    color: violet !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Wheat-navbar {
    color: wheat !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.White-navbar {
    color: white !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.WhiteSmoke-navbar {
    color: whitesmoke !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.Yellow-navbar {
    color: yellow !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.YellowGreen-navbar {
    color: yellowgreen !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}









/* bkg */
.AliceBlue-background {
    background-color: AliceBlue !important;

}
.AntiqueWhite-background {
    background-color: AntiqueWhite !important;

}
.Aqua-background {
    background-color: Aqua !important;

}
.Aquamarine-background {
    background-color: Aquamarine !important;

}
.Beige-background {
    background-color: beige !important;

}
.Bisque-background {
    background-color: beige !important;

}
.Black-background {
    background-color: black !important;

}
.BlanchedAlmond-background {
    background-color: blanchedalmond !important;

}
.Blue-background {
    background-color: blue !important;

}
.BlueViolet-background {
    background-color: blueviolet !important;

}
.Brown-background {
    background-color: brown !important;

}
.BurlyWood-background {
    background-color: burlywood !important;

}
.CadetBlue-background {
    background-color: cadetblue !important;

}
.Chartreuse-background {
    background-color: chartreuse !important;

}
.Chocolate-background {
    background-color: chocolate !important;

}
.Coral-background {
    background-color: coral !important;

}
.CornflowerBlue-background {
    background-color: cornflowerblue !important;

}
.Cornsilk-background {
    background-color: cornsilk !important;

}
.Crimson-background {
    background-color: crimson !important;

}
.Cyan-background {
    background-color: cyan !important;

}
.DarkBlue-background {
    background-color: darkblue !important;

}
.DarkCyan-background {
    background-color: darkcyan !important;

}
.DarkGoldenRod-background {
    background-color: darkgoldenrod !important;

}
.DarkGray-background {
    background-color: darkgray !important;

}
.DarkGreen-background {
    background-color: darkgreen !important;

}
.DarkKhaki-background {
    background-color: darkkhaki !important;

}
.DarkMagenta-background {
    background-color: darkmagenta !important;

}
.DarkOliveGreen-background {
    background-color: darkolivegreen !important;

}
.Darkorange-background {
    background-color: darkorange !important;

}
.DarkOrchid-background {
    background-color: darkorchid !important;

}
.DarkRed-background {
    background-color: darkred !important;

}
.DarkSalmon-background {
    background-color: darksalmon !important;

}
.DarkSeaGreen-background {
    background-color: darkseagreen !important;

}
.DarkSlateBlue-background {
    background-color: darkslateblue !important;

}
.DarkSlateGray-background {
    background-color: darkslategray !important;

}
.DarkTurquoise-background {
    background-color: darkturquoise !important;

}
.DarkViolet-background {
    background-color: darkviolet !important;

}
.DeepPink-background {
    background-color: deeppink !important;

}
.DeepSkyBlue-background {
    background-color: deepskyblue !important;

}
.DimGray-background {
    background-color: dimgray !important;

}
.DodgerBlue-background {
    background-color: dodgerblue !important;

}
.FireBrick-background {
    background-color: firebrick !important;

}
.FloralWhite-background {
    background-color: floralwhite !important;

}
.ForestGreen-background {
    background-color: forestgreen !important;

}
.Fuchsia-background {
    background-color: fuchsia !important;

}
.Gainsboro-background {
    background-color: gainsboro !important;

}
.GhostWhite-background {
    background-color: ghostwhite !important;

}
.Gold-background {
    background-color: gold !important;

}
.GoldenRod-background {
    background-color: goldenrod !important;

}
.Grey-background {
    background-color: grey !important;

}
.Green-background {
    background-color: green !important;

}
.GreenYellow-background {
    background-color: greenyellow !important;

}
.HoneyDew-background {
    background-color: honeydew !important;

}
.HotPink-background {
    background-color: hotpink !important;

}
.IndianRed-background {
    background-color: indianred !important;

}
.Indigo-background {
    background-color: indigo !important;

}
.Ivory-background {
    background-color: ivory !important;

}
.Khaki-background {
    background-color: khaki !important;

}
.Lavender-background {
    background-color: lavender !important;

}
.LavenderBlush-background {
    background-color: lavenderblush !important;

}
.LawnGreen-background {
    background-color: lawngreen !important;

}
.LemonChiffon-background {
    background-color: lemonchiffon !important;

}
.LightBlue-background {
    background-color: lightblue !important;

}
.LightCoral-background {
    background-color: lightcoral !important;

}
.LightCyan-background {
    background-color: lightcyan !important;

}
.LightGoldenRodYellow-background {
    background-color: lightgoldenrodyellow !important;

}
.LightGray-background {
    background-color: lightgray !important;

}
.LightGreen-background {
    background-color: lightgreen !important;

}
.LightPink-background {
    background-color: lightpink !important;

}
.LightSalmon-background {
    background-color: lightsalmon !important;

}
.LightSeaGreen-background {
    background-color: lightseagreen !important;

}
.LightSkyBlue-background {
    background-color: lightskyblue !important;

}
.LightSlateGray-background {
    background-color: lightslategray !important;

}
.LightSteelBlue-background {
    background-color: lightsteelblue !important;

}
.LightYellow-background {
    background-color: lightyellow !important;

}
.Lime-background {
    background-color: lime !important;

}
.LimeGreen-background {
    background-color: limegreen !important;

}
.Linen-background {
    background-color: linen !important;

}
.Magenta-background {
    background-color: magenta !important;

}
.Maroon-background {
    background-color: maroon !important;

}
.MediumAquaMarine-background {
    background-color: mediumaquamarine !important;

}
.MediumBlue-background {
    background-color: mediumblue !important;

}
.MediumOrchid-background {
    background-color: mediumorchid !important;

}
.MediumPurple-background {
    background-color: mediumpurple !important;

}
.MediumSeaGreen-background {
    background-color: mediumseagreen !important;

}
.MediumSlateBlue-background {
    background-color: mediumslateblue !important;

}
.MediumSpringGreen-background {
    background-color: mediumspringgreen !important;

}
.MediumTurquoise-background {
    background-color: mediumturquoise !important;

}
.MediumVioletRed-background {
    background-color: mediumvioletred !important;

}
.MidnightBlue-background {
    background-color: midnightblue !important;

}
.MintCream-background {
    background-color: mintcream !important;

}
.MistyRose-background {
    background-color: mistyrose !important;

}
.Moccasin-background {
    background-color: moccasin !important;

}
.NavajoWhite-background {
    background-color: navajowhite !important;

}
.Navy-background {
    background-color: navy !important;

}
.OldLace-background {
    background-color: oldlace !important;

}
.Olive-background {
    background-color: olive !important;

}
.OliveDrab-background {
    background-color: olivedrab !important;

}
.Orange-background {
    background-color: orange !important;

}
.OrangeRed-background {
    background-color: orangered !important;

}
.Orchid-background {
    background-color: orchid !important;

}
.PaleGoldenRod-background {
    background-color: palegoldenrod !important;

}
.PaleGreen-background {
    background-color: palegreen !important;

}
.PaleTurquoise-background {
    background-color: paleturquoise !important;

}
.PaleVioletRed-background {
    background-color: palevioletred !important;

}
.PapayaWhip-background {
    background-color: papayawhip !important;

}
.PeachPuff-background {
    background-color: peachpuff !important;

}
.Peru-background {
    background-color: peru !important;

}
.Pink-background {
    background-color: pink !important;

}
.Plum-background {
    background-color: plum !important;

}
.PowderBlue-background {
    background-color: powderblue !important;

}
.Purple-background {
    background-color: purple !important;

}
.Red-background {
    background-color: red !important;

}
.RosyBrown-background {
    background-color: rosybrown !important;

}
.RoyalBlue-background {
    background-color: royalblue !important;

}
.SaddleBrown-background {
    background-color: saddlebrown !important;

}
.Salmon-background {
    background-color: salmon !important;

}
.SandyBrown-background {
    background-color: sandybrown !important;

}
.SeaGreen-background {
    background-color: seagreen !important;

}
.SeaShell-background {
    background-color: seashell !important;

}
.Sienna-background {
    background-color: sienna !important;

}
.Silver-background {
    background-color: silver !important;

}
.SkyBlue-background {
    background-color: skyblue !important;

}
.SlateBlue-background {
    background-color: slateblue !important;

}
.SlateGrey-background {
    background-color: slategray !important;

}
.Snow-background {
    background-color: snow !important;

}
.SpringGreen-background {
    background-color: springgreen !important;

}
.SteelBlue-background {
    background-color: steelblue !important;

}
.Tan-background {
    background-color: tan !important;

}
.Teal-background {
    background-color: teal !important;

}
.Thistle-background {
    background-color: thistle !important;

}
.Tomato-background {
    background-color: tomato !important;

}
.Turquoise-background {
    background-color: turquoise !important;

}
.Violet-background {
    background-color: violet !important;

}
.Wheat-background {
    background-color: wheat !important;

}
.White-background {
    background-color: white !important;

}
.WhiteSmoke-background {
    background-color: whitesmoke !important;

}
.Yellow-background {
    background-color: yellow !important;

}
.YellowGreen-background {
    background-color: yellowgreen !important;

}
