/* Ccontaiers */
.container-light {
    color: white;
}

.container-dark {
    color: gainsboro;
}

/* Aligns */

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}